#main{
  text-align: center;
}

.button{
  border-top: 5px solid #777777;
  border-left: 5px solid #e0e0e0;
  border-right: 5px solid #e0e0e0;
  border-bottom: 5px solid darkred;
  background-color: lightgrey;
  display: inline-block;
  text-align: left;
  padding: 20px;
  margin: 20px;
  margin-top: 200px;

  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.button p{
  border-top: 2px black;
  margin: 2px;
  clear: both;
  text-align: center;
  text
}

.button a:link, a:visited, a:active, a:hover{
  text-decoration: none;
  color:black;
}

.button:hover{
  background-color: #777777;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
